{% extends 'indexbase.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}

	<!-- Page content-->
	<div class="container mt-5">
		<div class="row">
			<div
				class="col-lg-8">
				<!-- Post content-->
				<article>
					<!-- Post header-->
					<header
						class="mb-4">
						<!-- Post title-->
						<h1 class="fw-bolder mb-1">{{ posts.title }}</h1>
						<!-- Post meta content-->
						<div class="text-muted fst-italic mb-2">Posted on
							{{ posts.date }}
							by BitLopez</div>
						<!-- Post categories-->
						<a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
						<a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
					</header>
					<!-- Preview image figure-->
					<figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..."/></figure>
					<!-- Post Preview-->
					<section class="mb-5">
						<p class="fs-5 mb-4">{{ posts.avance }}</p>

					</section>
					<!-- Post content-->
					<section class="mb-5">
						{{ posts.body | raw }}

					</section>
					<!-- Sources-->
					<section class="mb-5">
						<h2 class="fw-bolder mb-4 mt-5">Sources</h2>
						{{posts.sources}}
					</section>
				</article>
				<!-- Comments section-->
				<section class="mb-5">
					<div class="card bg-light">
						<div class="card-body">
							<!-- Comment form-->
							{# <form class="mb-4">
																																																																							<textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
																													
																																																																						</form> #}

								<a class='btn' href="{{ path('comment_create', {'postId': posts.id}) }}"> Create Comment</a>
							<!-- Single comment-->
							{% for comment in comments %}
								<div class="d-flex">
									<div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/></div>
									<div class="ms-3">
										<div class="fw-bold">Commenter Name</div>
										{{ comment.content }}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
			</div>
			<!-- Side widgets-->
			{% include '_sidewidget.html.twig' %}
		</div>
	</div>
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
		</div>
	</footer>
{% endblock %}
